.multiple-dir-operation-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}

.selection-info {
  width: 100%;
  padding: 2px 0;
  font-size: 13px;
  color: #888;
}

.dirents-more-menu {
  margin-left: 0;
  padding: 4px 15px;
  border: 1px solid #ccc;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 46px;
  height: 30px;
  background-color: #fff;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}
.dirents-more-menu:hover {
  background-color: #fff;
  border: 1px solid #ccc;
}
