{{define "title"}}{{.Filename}} - SesameFS{{end}}
{{define "body-attrs"}} class="preview-layout"{{end}}
{{define "body"}}
    <div class="page-header">
        <div class="page-header-left">
            <a href="/"><img src="/static/img/logo.png" alt="SesameFS" class="logo" onerror="this.style.display='none'" /></a>
            <div class="file-info">
                <div class="file-name" title="{{.Filename}}">{{.Filename}}</div>
            </div>
        </div>
        <div class="page-header-right">
            <a href="{{.DownloadURL}}" class="btn-download">Download</a>
        </div>
    </div>
    <div class="preview-container">
        {{.PreviewContent}}
    </div>
{{end}}
